body {
    background-color: #242422;
}
body, button, p, h1, h2, a {
    font-family: "Gilroy", sans-serif;
    color: #ffff;
}  

p {
    font-size: 16px;
    margin: 0;
}
button {
    background-color: #AA9B7D;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.header {
    margin-top: 10px;
    height: 52px;
    gap: 30px;
}
.header, .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, .header__search-item, .page__search-item {
    margin-top: 5px;
    height: 52px;
}
.header__search { 
    padding-top: 10px;
    gap: 10px;
}

.header__search-input {
    padding: 12px 20px;
    width: 390px;
}

.search-btn {
    padding: 11px 56px;
    height: 52px;
}

input {
    background-color: #242422;
    border-color: #ffff;
    border-style: solid 1px;
    border-radius: 5px;
    color: #ffff;
}
.search-input {
    font-size: 16px;
    padding-left: 16px;
}
.page__search-input {
    width: 1270px;
}

.page__search {
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.home-img { 
    width: 40px;
    height: 40px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    margin: 0;
}

.ship-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.ship-item {
    width: 633px;
    background-color: #3A3A3A;
    padding: 50px 36px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.ship-image {
    width: 561px;
}
.ship-item-text {
    width: 490px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-btn {
    padding: 13px 172px;
    width: 490px;
    font-size: 16px;
    border: none;
}
