<html lang="en">
<head>
    <title>Loading time</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>

<div class="header">
    <h1>
        <a href="/loading_time"><img class="home-img" src="/static/img/home-img.svg" alt="home"></a>
    </h1>

    <form class="header__search" action="/loading_time" method="GET">
        <input class="header__search-item header__search-input" type="text" name="query" placeholder="Поиск по вместимости контейнеровоза" value="{{ .query }}">
        <button class="header__search-item search-btn" type="submit">Найти</button>
    </form>
</div>

<form action="/loading_time" method="GET">
        <input type="text" name="query" placeholder="Поиск контейнеровоза" value="{{ .query }}">
        <button class="search-btn" type="submit">Найти</button>
</form>

<ul class="ship-cards">
    {{ range .ships }}
    <li class="ship-item">
        <div class="ship-image">
            <img src="http://localhost:9000/loading-time-img/img/{{.PhotoURL}}" 
                 alt="{{.Name}}"
                 onerror="this.style.display='none'">
        </div>
        
        <h2>
            <a href="/ship/{{ .ID }}">{{ .Name }}</a>
        </h2>
        <div class="ship-item-text">
            <p><b>Вместимость:</b> {{.Capacity}} TEU</p>
            <p><b>Краны:</b> {{.Сranes}} одновременно</p>
        </div>
        <button class="card-btn">Выбрать</button> 
    </li>
    {{ end }}
</ul>
</body>
</html>