<html lang="en">
<head>
    <title>Loading time</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<header>
    <h1>
        <a href="/loading_time"><img src="/static/img/image.jpg" alt="home"></a>
    </h1>
</header>
<form action="/loading_time" method="GET">
    <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
    <!-- value="{{ .query }}"  нужно для того, чтобы из обработчика передавать
    введенный запрос обратно на страницу. Тем самым введенный текст в поле поиска будет сохраняться
    -->
    <button type="submit">Найти</button>
</form>
<!-- 
    <h2>
        {{ .time }}
    </h2>
 -->
    <ul>
        {{ range .ships }}
    <img src="http://localhost:9000/bmstu-photos/{{.PhotoURL}}" 
         alt="{{.Name}}"
         class="ship-thumbnail"
         onerror="this.style.display='none'">
    
        <h2>
            <a href="/ship/{{ .ID }}"> {{ .Name }} </a>
        </h2>
        {{ end }}
    </ul>
</html>