<html lang="en">
<head>
    <title>Loading time</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
<header>
    <h1>
        <a href="/loading_time"><img src="/static/img/image.jpg" alt="home"></a>
    </h1>
</header>

<form action="/loading_time" method="GET">
    <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
    <button type="submit">Найти</button>
</form>

<ul>
    {{ range .ships }}
    <li class="ship-item">
        <div class="ship-image">
            <img src="http://localhost:9000/loading-time-img/img/{{.PhotoURL}}" 
                 alt="{{.Name}}"
                 onerror="this.style.display='none'">
        </div>
        
        <h2>
            <a href="/ship/{{ .ID }}">{{ .Name }}</a>
        </h2>
        
        <p><b>Вместимость:</b> {{.Capacity}} TEU</p>
        <p><b>Краны:</b> {{.Сranes}} одновременно</p>
        <!-- Добавьте другие поля по необходимости -->
    </li>
    {{ end }}
</ul>
</body>
</html>